.Submit {
  height: 40px;
  width: 100%;
  border: 1px solid #999;
  border-radius: 5px;
  letter-spacing: 1px;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.active {
  height: 40px;
  width: 100%;
  background-color: #ff9700;
  border: 1px solid #999;
  border-radius: 5px;
  letter-spacing: 1px;

  &:hover {
    cursor: pointer;
    background-color: #ffa217;
  }

  &:focus {
    outline: none;
  }
}
